<h1>99 Cat's</h1>

<ul>
    <% @cat.each do |cat| %>
    <li> <%= cat.name %> </li>
    <%= link_to "show", cat_url(cat) %>
    <% end %>
</ul>

<section>
  <%= link_to "Add Cat", new_cat_url %>
</section>

<section>
  <%= link_to "Edit Cat", edit_cat_url(@cat) %>
</section>
